<div class="grid">
<% for i in 0..(@rows - 1) %>
	<div class="row row-no-padding">
		<% for j in 0..(@cols -1) %>
		<div class="col-lg-2 col-md-2 col-xs-2">
			<% if @grid && @grid[i][j] == 1 %>
			<div class="cell active fadeIn" col="#{j}" row="#{i}"></div>
			<% else %>
			<div class="cell fadeIn" col="#{j}" row="#{i}"></div>
			<% end %>
		</div>	
		<% end %>
	</div>
	<% end %>
</div>
